html {
    background-color: #f3d5ce;
}

main {
    display: flex;
    flex-direction: row;
}

.sidebar {
    display: flex;
    flex-direction: row;
}

#cart {
    margin: 0px 10px 0px 10px;
    background-color: white;
    padding: 0px 1px 0px 1px ;
    border: solid black 1px;
}

.notsidebar {
    display: flex;
    margin: 10px;
    flex-direction: row;
}

.product {
    margin:0px 10px 0px 10px;
    padding: 0px;
    border:solid black 2px;
    display: flex;
    flex-direction: column;
    text-align: center;
    font-size: larger;
    padding-bottom: 3px;
    background-color: white;
}

.product img {
    height: 500px;
    width: 600px
}

.product-purchase {
    background-color: lightblue;
    font-weight: bold;
    text-shadow: 1px;
}

.arrow {
    font-size: xx-large;
    margin-left: 600px;
    margin-bottom: 3px;
}